.DS_Store
.dropbox
/optimization-intro.tex
/convex.tex
/auto/
intro-opt-fig/graph-sequence-*.pdf


/intro-opt.aux
/intro-opt.log
/intro-opt.nav
/intro-opt.out
/intro-opt.snm
/intro-opt.tex
/intro-opt.toc
